body {
    color: #3882f6;
    background-color: white;

}


.header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 50px 100px;
    background-color: #1f2937;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.container {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 30px 100px 50px 100px;
}

.hero-main {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}