body {
    color: #3882f6;

}


.header {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px 200px 50px 200px;
    background-color: #1f2937;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.container {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    padding: 30px 200px 150px 200px;
}

.hero {
    padding-right: 50px;
}

.hero-main {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    padding-bottom: 20px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 1000px;
    background-color: grey;
    color: #E5E7EB;
}

button {
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bolder;
    background-color: #3882F6;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 30px 200px 150px 200px;
}

.info {
    max-width: 400px;
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}

img {
    width: 250px;
    height: 250px;
}

.quote-container {
    margin: auto;
    background-color: #E5E7EB;
    padding: 150px 300px 150px 300px;
    color: #1f2937;
    font-family: sans-serif;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    padding-bottom: 20px;
}

.quote-signature {
    font-weight: bolder;
    font-size: 28px;
    text-align: right;
}